In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [3]:
movie= pd.read_csv("C:\\Users\\DELL\\Downloads\\my_movies.csv")
movie.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [4]:
movie["V1"].value_counts()

Gladiator        6
Sixth Sense      2
LOTR1            1
Harry Potter1    1
Name: V1, dtype: int64

In [5]:
movie.isnull().sum()

V1               0
V2               0
V3               3
V4               8
V5               9
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [6]:
movie["V3"]=movie.fillna(movie.mode().iloc[:,1:2])
movie.isnull().sum()

V1               0
V2               0
V3               0
V4               8
V5               9
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [7]:
movie["V4"]=movie.fillna(movie.mode().iloc[:,2:3])
movie.isnull().sum()

V1               0
V2               0
V3               0
V4               0
V5               9
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [8]:
movie["V5"]=movie.fillna(movie.mode().iloc[:,3:4])
movie.isnull().sum()

V1               0
V2               0
V3               0
V4               0
V5               0
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [9]:
movie.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Sixth Sense,Sixth Sense,Sixth Sense,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Gladiator,Gladiator,Gladiator,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,LOTR1,LOTR1,LOTR1,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Gladiator,Gladiator,Gladiator,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Gladiator,Gladiator,Gladiator,1,1,0,0,1,0,0,0,0,0

In [10]:
movie1=pd.get_dummies(movie,columns=['V1','V2','V3','V4','V5'])
movie1

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V3_LOTR1,V3_Sixth Sense,V4_Gladiator,V4_Harry Potter1,V4_LOTR1,V4_Sixth Sense,V5_Gladiator,V5_Harry Potter1,V5_LOTR1,V5_Sixth Sense
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
5,1,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
6,0,0,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
7,0,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
8,1,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
9,1,1,0,0,0,0,0,1,0,1,...,0,1,0,0,0,1,0,0,0,1

In [11]:
movie1.describe()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V3_LOTR1,V3_Sixth Sense,V4_Gladiator,V4_Harry Potter1,V4_LOTR1,V4_Sixth Sense,V5_Gladiator,V5_Harry Potter1,V5_LOTR1,V5_Sixth Sense
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,0.600000,0.700000,0.200000,0.200000,0.600000,0.200000,0.100000,0.100000,0.100000,0.200000,...,0.100000,0.200000,0.600000,0.100000,0.100000,0.200000,0.600000,0.100000,0.100000,0.200000
std,0.516398,0.483046,0.421637,0.421637,0.516398,0.421637,0.316228,0.316228,0.316228,0.421637,...,0.316228,0.421637,0.516398,0.316228,0.316228,0.421637,0.516398,0.316228,0.316228,0.421637
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Taking,   support=0.1
###               min threshold=0.7

In [12]:
frequent_itemsets = apriori(movie1, min_support=0.1, use_colnames=True)
frequent_itemsets.head()

   support         itemsets
0      0.6    (Sixth Sense)
1      0.7      (Gladiator)
2      0.2          (LOTR1)
3      0.2  (Harry Potter1)
4      0.6        (Patriot)

In [13]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
3,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
4,(V1_Sixth Sense),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
...,...,...,...,...,...,...,...,...,...
67795,"(V3_Sixth Sense, Harry Potter1)","(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
67796,"(LOTR2, Sixth Sense)","(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
67797,"(LOTR2, V4_Sixth Sense)","(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
67798,"(LOTR2, V3_Sixth Sense)","(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
67799,(V2_LOTR1),"(V1_Sixth Sense, V5_Sixth Sense, Green Mile, L...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf

In [14]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
3,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
4,(Harry Potter1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
...,...,...,...,...,...,...,...,...,...
89083,(Harry Potter1),"(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
89084,(Sixth Sense),"(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
89085,(LOTR2),"(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
89086,(V4_Sixth Sense),"(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
89087,(V3_Sixth Sense),"(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

In [15]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
6,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
7,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
10,(Sixth Sense),(LOTR),0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
...,...,...,...,...,...,...,...,...,...
89083,(Harry Potter1),"(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
89084,(Sixth Sense),"(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
89085,(LOTR2),"(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
89086,(V4_Sixth Sense),"(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
89087,(V3_Sixth Sense),"(V2_LOTR1, V1_Sixth Sense, V5_Sixth Sense, Gre...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

### Taking,   support=0.2
###               min threshold=0.5

In [16]:
frequent_itemsets = apriori(movie1, min_support=0.2, use_colnames=True)
frequent_itemsets.head()

   support         itemsets
0      0.6    (Sixth Sense)
1      0.7      (Gladiator)
2      0.2          (LOTR1)
3      0.2  (Harry Potter1)
4      0.6        (Patriot)

In [17]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
3,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
...,...,...,...,...,...,...,...,...,...
6618,(V4_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V1_Gladiat...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6619,(V1_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6620,(Sixth Sense),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
6621,(V3_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6622,(Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.7,0.4,0.4,0.571429,1.428571,0.12,1.4

In [18]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
3,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
...,...,...,...,...,...,...,...,...,...
6649,(V4_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V1_Gladiat...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6650,(V1_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6651,(Sixth Sense),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
6652,(V3_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6653,(Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.7,0.4,0.4,0.571429,1.428571,0.12,1.4

In [19]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
3,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
...,...,...,...,...,...,...,...,...,...
6649,(V4_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V1_Gladiat...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6650,(V1_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6651,(Sixth Sense),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
6652,(V3_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
6653,(Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.7,0.4,0.4,0.571429,1.428571,0.12,1.4

### Taking,   support=0.5
###               min threshold=0.9

In [20]:
frequent_itemsets = apriori(movie1, min_support=0.5, use_colnames=True)
frequent_itemsets.head()

   support        itemsets
0      0.6   (Sixth Sense)
1      0.7     (Gladiator)
2      0.6       (Patriot)
3      0.6  (V1_Gladiator)
4      0.6    (V2_Patriot)

In [21]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.9)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Patriot),(Gladiator),0.6,0.7,0.6,1.0,1.428571,0.18,inf
1,(V1_Gladiator),(Gladiator),0.6,0.7,0.6,1.0,1.428571,0.18,inf
2,(V2_Patriot),(Gladiator),0.6,0.7,0.6,1.0,1.428571,0.18,inf
3,(V3_Gladiator),(Gladiator),0.6,0.7,0.6,1.0,1.428571,0.18,inf
4,(V4_Gladiator),(Gladiator),0.6,0.7,0.6,1.0,1.428571,0.18,inf
...,...,...,...,...,...,...,...,...,...
1864,(V2_Patriot),"(Patriot, V5_Gladiator, V4_Gladiator, V1_Gladi...",0.6,0.6,0.6,1.0,1.666667,0.24,inf
1865,(V5_Gladiator),"(Patriot, V2_Patriot, V4_Gladiator, V1_Gladiat...",0.6,0.6,0.6,1.0,1.666667,0.24,inf
1866,(V4_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V1_Gladiat...",0.6,0.6,0.6,1.0,1.666667,0.24,inf
1867,(V1_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.6,0.6,1.0,1.666667,0.24,inf
1868,(V3_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.6,0.6,1.0,1.666667,0.24,inf

In [22]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.9)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
3,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
4,(V1_Gladiator),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
...,...,...,...,...,...,...,...,...,...
1929,(V5_Gladiator),"(Patriot, V2_Patriot, V4_Gladiator, V1_Gladiat...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1930,(V4_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V1_Gladiat...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1931,(V1_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1932,(V3_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1933,(Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.7,0.6,0.6,0.857143,1.428571,0.18,2.8

In [23]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
3,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
4,(V1_Gladiator),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
...,...,...,...,...,...,...,...,...,...
1929,(V5_Gladiator),"(Patriot, V2_Patriot, V4_Gladiator, V1_Gladiat...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1930,(V4_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V1_Gladiat...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1931,(V1_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1932,(V3_Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.6,0.6,0.6,1.000000,1.666667,0.24,inf
1933,(Gladiator),"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiat...",0.7,0.6,0.6,0.857143,1.428571,0.18,2.8

### to remove duplicate rule

### lift>1 it means antecedents has more probability than

In [24]:
def to_list(i):
    return (sorted(list(i)))
ma_X = rules.antecedents.apply(to_list)+rules.consequents.apply(to_list)
ma_X = ma_X.apply(sorted)
rules2_sets = list(ma_X)
unique_rules2_sets = [list(m) for m in set(tuple(i) for i in rules2_sets)]
index_rules2 = []
for i in unique_rules2_sets:
    index_rules2.append(rules2_sets.index(i))
    
rules2_no_redudancy  = rules.iloc[index_rules2,:]
rules2_no_redudancy.shape
#396 rules
rules2_no_redudancy.sort_values('lift',ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
194,"(V3_Gladiator, V2_Patriot)",(V1_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
164,"(Patriot, V2_Patriot)",(V4_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
188,"(Patriot, V5_Gladiator)",(V4_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
134,"(Patriot, V2_Patriot)",(V1_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
34,(V2_Patriot),(V4_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
224,"(V5_Gladiator, V1_Gladiator)",(V4_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
36,(V2_Patriot),(V5_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
158,"(V3_Gladiator, Patriot)",(V2_Patriot),0.6,0.6,0.6,1.0,1.666667,0.24,inf
242,"(V2_Patriot, V5_Gladiator)",(V4_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf
1314,"(Patriot, V2_Patriot, V5_Gladiator, V4_Gladiator)",(V3_Gladiator),0.6,0.6,0.6,1.0,1.666667,0.24,inf